h1{
    color : blue
    }
    body{
        background-color:#f7f2f2;
    }
.information{
    /*
    text-align: center; */
    display: flex;
    justify-content: space-between;
    background-color:#00ffbf;
    padding:15px;
    font-size: 20px;
    font-family:sans-serif;
    font-weight : 400;
    
    
   
}
.photo{
    background-color: rgb(233, 250, 3);
    justify-content: space-evenly;
  /*  border:solid;*/
    
}
.photo img{
    border:2px solid #000000;
    
}

.fo{
    background-color:#00ffbf;
    font-size:18px;
}


